{% extends 'WygWygBundle::layout.html.twig' %}

{% block title %}Activate your account{% endblock%}

{% block body %}
    <header>
        <h1>Activate your account</h1>
    </header>

    <p>Didn't receive your activation code? Look in your spam or junk folder!</p>

    <form action="{{ path('WygWygBundle_user_activate') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_rest(form) }}

        <input type="submit" value="Activate" />
    </form>
{% endblock %}